name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/flashBid-main-server:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/flashBid-main-server:latest

    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        script: |
          docker stop main-server || true
          docker rm main-server || true
          docker pull ${{ secrets.DOCKER_USERNAME }}/flashBid-main-server:latest
          docker run -d --name main-server -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/flashBid-main-server:latest
          docker image prune -f
